.DS_Store
.build
DerivedData
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

.swiftpm
GooglePhotoSync.xcodeproj

.venv
__pycache__
*.pyc

client_secret.json
google_photos_token.json

